<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue js 2</title>
  </head>
  <style>
    p {
      font-size: 25px;
    }
  </style>
  <body>
    <div id="app">
      <!-- <ul>
        <li :key="index" v-for="(name, index) in names">
          {{ name }} , {{index}}
        </li>
      </ul> -->
      <ul>
        <li v-for="n in 10">{{ n*3 }}</li>
      </ul>
      <!-- <template v-for="(name, index) in names">
          <h1>{{name}}</h1>
          <span>{{index}}</span>
        </template> -->
      <!-- <template v-for="myObject in names">
          <h1 v-for="(value, key, i) in myObject">
            {{ i }} {{key}} : {{ value }}
          </h1>
        </template> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          // names: ["John", "Jane", "Alex"],
          // names: [
          //   {
          //     name: "Denzel",
          //     age: 44,
          //   },
          //   {
          //     name: "Snake",
          //     age: 27,
          //   },
          // ],
        },
      });
    </script>
  </body>
</html>
